<style>
/* Estilos para el menú de navegación */
.navbar {
  border-radius: 10px;
  /* Agregar cualquier otro estilo que desees para el menú de navegación */
}

.navbar-toggler {
  border: none;
  /* Agregar cualquier otro estilo que desees para el botón del menú */
}

.navbar-toggler .navbar-toggler-icon {
  /* Estilos para el ícono del botón de menú */
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255, 255, 255, 0.8)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
  /* Asegúrate de incluir un icono SVG válido para el botón del menú */
}

.navbar-nav .nav-item {
  margin: 0 15px;
  /* Ajusta los márgenes para los elementos de la lista según tu preferencia */
}

.nav-link {
  transition: color 0.3s;
  /* Cambia el color de los enlaces al pasar el ratón por encima si lo deseas */
}

.nav-link:hover {
  color: #ffc107; /* Cambia el color al pasar el ratón por encima si lo deseas */
}

@media (max-width: 992px) {
  .navbar-nav .nav-item {
    margin: 10px 0;
    /* Cambia los márgenes en pantallas más pequeñas si es necesario */
  }
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-white fs-4 fs-lg-5" routerLink="/dashboard/inicio">Inicio</a>
        </li>
        <li class="nav-item" style="margin-right: 0;">
          <a class="nav-link text-white fs-4 fs-lg-5" routerLink="/dashboard/quienesSomos" style="max-width: 120px;">
            <span style="text-align: center; display: block;">¿Quiénes</span>
            <span style="text-align: center; display: block;">Somos?</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-4 fs-lg-5" routerLink="/dashboard/servicios">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-4 fs-lg-5" routerLink="/dashboard/contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fs-4 fs-lg-5" routerLink="/dashboard/ayuda">Ayuda</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="jumbotron text-center" style="background-color: #444141; color: white; border-radius: 15px;">
    <h1>¡Dispara el Crecimiento de tu Negocio con una Presencia Online Única!</h1>
    <p>Genera impacto y atrae clientes potenciales con nuestra especialidad: creación de páginas web a medida para potenciar tu marca y aumentar 
      tus ventas.</p>
</div>
<div class="row">
  <div class="col-lg-4 col-md-6">
      <div class="card service-card h-100">
          <div class="card-body">
              <h3 class="card-title">Diseño Exclusivo para tu Negocio</h3>
              <p class="card-text">Potenciamos tu presencia en línea con sitios web estéticamente atractivos y personalizados para reflejar la identidad de tu negocio.</p>
              <img src="../../../assets/2.png" class="card-img-top" alt="Imagen 1">
          </div>
      </div>
  </div>

  <div class="col-lg-4 col-md-6">
      <div class="card service-card h-100">
          <div class="card-body">
              <h3 class="card-title">Desarrollo Rápido y Eficaz</h3>
              <p class="card-text">Creamos sitios web que potencian la imagen de tu negocio con un enfoque rápido y eficaz, adaptados a tus necesidades y expectativas.</p>
              <img src="../../../assets/3.png" class="card-img-top" alt="Imagen 2">
          </div>
      </div>
  </div>

  <div class="col-lg-4 col-md-6">
      <div class="card service-card h-100">
          <div class="card-body">
              <h3 class="card-title">Optimización y Mantenimiento Continuo</h3>
              <p class="card-text">Ofrecemos planes personalizados para el mantenimiento y la optimización constante de tu página web, garantizando su funcionalidad y rendimiento a largo plazo.</p>
              <img src="../../../assets/4.png" class="card-img-top" alt="Imagen 3">
          </div>
      </div>
  </div>
</div>


</div>