h3 {
    color: #007bff;
    font-weight: 600;
    margin-bottom: 20px;
}
  
  /* Estilos para las tarjetas de servicios */
  .card.service-card {
    border: none;
    transition: transform 0.3s;
    border-radius: 15px;
  }
  
  .card.service-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .card.service-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card.service-card .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card.service-card .card-text {
    font-size: 1.2rem;
    color: #555;
  }
  
  .card.service-card img.card-img-top {
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  /* Estilos para el menú de navegación */
.navbar {
  border-radius: 10px;
  /* Agregar cualquier otro estilo que desees para el menú de navegación */
}

.navbar-toggler {
  border: none;
  /* Agregar cualquier otro estilo que desees para el botón del menú */
}

.navbar-toggler .navbar-toggler-icon {
  /* Estilos para el ícono del botón de menú */
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255, 255, 255, 0.8)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
  /* Asegúrate de incluir un icono SVG válido para el botón del menú */
}

.navbar-nav .nav-item {
  margin: 0 15px;
  /* Ajusta los márgenes para los elementos de la lista según tu preferencia */
}

.nav-link {
  transition: color 0.3s;
  /* Cambia el color de los enlaces al pasar el ratón por encima si lo deseas */
}

.nav-link:hover {
  color: #ffc107; /* Cambia el color al pasar el ratón por encima si lo deseas */
}

@media (max-width: 992px) {
  .navbar-nav .nav-item {
    margin: 10px 0;
    /* Cambia los márgenes en pantallas más pequeñas si es necesario */
  }
}