<style>
    body {
        background-color: #f8f9fa;
        color: #333;
    }

    section {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 30px;
        margin: 50px auto;
    }

    h2 {
        color: #007bff;
        font-weight: 600;
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 10px;
    }
</style>
<section class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-1 d-flex justify-content-center align-items-center">
            <div class="col-lg-4 pr-lg-5 d-none d-lg-block">
                <img src="../../assets/idea.png" class="img-fluid" alt="Imagen de la empresa">
            </div>
            <div class="col-lg-8 text-center">
                <h2>¿Quiénes Somos?</h2>
                <p>Somos una empresa dedicada a ofrecer servicios de diseño y desarrollo web. Nuestro objetivo es crear experiencias digitales atractivas y funcionales para nuestros clientes. Ofrecemos soluciones personalizadas que se adaptan a las necesidades individuales de cada proyecto, brindando soporte desde el diseño inicial hasta la implementación final.</p>
            </div>
        </div>
    </div>
</section>
