    section {
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        padding: 30px;
        margin: 50px auto;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    section:hover {
        transform: scale(1.02);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    }

    h2 {
        color: #007bff;
        font-weight: bold;
        margin-bottom: 30px;
        font-size: 2.5rem;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.8;
        margin-bottom: 20px;
    }

    .contact-info {
        text-align: left;
        margin-bottom: 20px;
    }

    .contact-info p {
        font-size: 1.1rem;
        margin-bottom: 15px;
    }

    .social-icons {
        text-align: center;
        margin-top: 30px;
    }

    .social-icons a {
        color: #4267B2;
        font-size: 24px;
        margin: 0 10px;
    }

    .social-icons a:hover {
        color: #254588;
        text-decoration: none;
    }

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-container img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    @media (max-width: 992px) {
        section {
            margin: 30px auto;
            padding: 20px;
        }

        h2 {
            font-size: 2rem;
            margin-bottom: 20px;
        }

        p {
            font-size: 1rem;
            margin-bottom: 15px;
        }

        .contact-info p {
            font-size: 1rem;
            margin-bottom: 10px;
        }

        .social-icons a {
            font-size: 20px;
            margin: 0 8px;
        }

        .img-container img {
            border-radius: 8px;
        }
    }
    